{% extends 'cat_hotel/components/base.html' %}

{% block content %}

<div class="col-xl-11 col-lg-7 mb-4 ml-5 mt-5">
  <div class="card">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
      <h5 class="m-0 font-weight-bold text-primary">ประวัติการจอง</h5>
    </div>
    <div class="table-responsive pd-3">
      <table class="table align-items-center table-flush">
        <thead class="thead-light">
          <tr>
            <th>ห้อง</th>
            <th>วันที่เข้าฝาก</th>
            <th>ฝากถึงวันที่</th>
            <th>จำนวนแมว</th>
            <th>ชื่อแมว</th>
            <th>เบอร์ติดต่อ</th>
            <th>ราคา/บาท</th>
            <th>สถานะ</th>
            <th>หมายเหตุ</th>
          </tr>
        </thead>
        <tbody>
          {% for booking in book_history %}
          <tr>
            <td class="text-primary">{{ booking.room }}</td>
            <td>{{ booking.start_date }}</td>
            <td>{{ booking.end_date }}</td>
            <td>{{ booking.cat }}</td>
            <td>{{ booking.cat_name }}</td>
            <td>{{ booking.phone_number }}</td>
            <td>{{ booking.total_price}}</td>
            <td>
              <span class="badge badge-success">เช็คเอ้าสำเร็จ</span>
            </td>
          </tr>
          {% endfor %}

          {% for cancellation_reason in cancellation_reason %}
          <tr>
            <td class="text-primary">{{ cancellation_reason.room }}</td>
            <td>{{ cancellation_reason.start_date }}</td>
            <td>{{ cancellation_reason.end_date }}</td>
            <td>{{ cancellation_reason.cat }}</td>
            <td>{{ cancellation_reason.cat_name }}</td>
            <td>{{ cancellation_reason.phone_number }}</td>
            <td>{{ cancellation_reason.total_price }}</td>       
            <td>
              <span class="badge badge-danger">การจองไม่สำเร็จ</span>
            </td>
            <td class="text-danger">{{ cancellation_reason.reason_text }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="card-footer"></div>
  </div>
</div>

{% endblock %}
