{% extends 'cat_hotel/components/base.html' %}
{% block content %}

{% for message in messages %}
<div class="container-fluid p-0">
  <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
    {{ message }}
  </div>
</div>
{% endfor %}

<div class="col-xl-11 col-lg-7 mb-4 ml-5 mt-5">
    <div class="card">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h5 class="m-0 font-weight-bold text-primary">กำลังจอง</h5>
        </div>
        <div class="table-responsive pd-3">
            <table class="table align-items-center table-flush">
                <thead class="thead-light">
                    <tr>
                        <th>ห้อง</th>
                        <th>วันที่เข้าฝาก</th>
                        <th>ฝากถึงวันที่</th>
                        <th>จำนวนแมว</th>
                        <th>ชื่อแมว</th>
                        <th>เบอร์ติดต่อ</th>
                        <th>ราคา/บาท</th>
                        <th>แก้ไขการจอง</th>
                        <th>ยกเลิกการจอง</th>
                        <th>สถานะการเข้าพัก</th>
                    </tr>
                </thead>
                <tbody>
                    {% for booking in booking %}
                    <tr>
                        <td class="text-primary">{{ booking.room }}</td>
                        <td>{{ booking.start_date }}</td>
                        <td>{{ booking.end_date }}</td>
                        <td>{{ booking.cat }}</td>
                        <td>{{ booking.cat_name }}</td>
                        <td>{{ booking.phone_number }}</td>
                        <td>{{ booking.total_price}}</td>
                        <td><a href="{% url 'edit_booking' booking.id %}" class="btn btn-sm btn-warning">แก้ไข</a></td>
                        <td>
                            <button class="btn btn-sm btn-danger" data-toggle="modal"
                                data-target="#deleteRoomModal{{ booking.id }}">ยกเลิก</button>
                        </td>
                        <td>
                          {% if booking.waiting_confirm %}
                              <span class="badge badge-info">รอยืนยันการจอง</span>          
                          {% elif booking.confirm_status %}
                              <span class="badge badge-success">ยืนยันการจองแล้ว</span>
                          {% elif booking.staying_status %}
                              <span class="badge badge-primary">กำลังเข้าพัก</span>
                          {% else %}
                              <span class="badge badge-secondary">สถานะอื่นๆ</span>
                          {% endif %}
                        </td> 
                    </tr>
                    <div class="modal fade" id="deleteRoomModal{{ booking.id }}" tabindex="-1" role="dialog"
                        aria-labelledby="deleteRoomModalLabel{{ booking.id }}" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="deleteRoomModalLabel{{ booking.id }}">
                                        ยกเลิกการจอง {{ booking.room_number }}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    คุณแน่ใจที่จะยกเลิกการจองห้องพักแมวนี้?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">ยกเลิก</button>
                                    <form action="{% url 'cancel_booking' booking.id %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="room_id" value="{{ booking.id }}">
                                        <button type="submit" class="btn btn-danger">ยกเลิกการจอง</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="card-footer"></div>
    </div>
</div>

{% endblock %}
