{% extends 'cat_hotel/components/base.html' %}
{% block content %}
>
<div class="container d-flex justify-content-center mt-3">
	<div class="card mt-5 pb-3">
        <div class="mt-4 ml-5"><i class="bi bi-person-rolodex h5 mr-1 "></i> รายละเอียดข้อมูลส่วนตัว</div>
        <hr width="1000">
		<div class="media">
            <i class="bi bi-person-circle h3 mr-4 text-primary"></i>
  			<div class="media-body">               
   		 		<h5 class="mt-1 mb-0 text-primary">username : {{user.username}}</h5>
  			</div>
		</div>
            <div class="d-flex flex-row justify-content-between align-items-center p-3 mx-3 sample">
                <div class="d-flex flex-row align-items-center"><i class="bi bi-patch-check-fill"></i>
                    <div class="d-flex flex-row align-items-start ml-3"><span>ชื่อ - นามสกุล : {{user.first_name}} {{user.last_name}}</div>
                </div>
                <div class="d-flex flex-row align-items-center mt-2"><i class="fas fa-angle-right preview"></i></div>
            </div>
            <div class="d-flex flex-row justify-content-between align-items-center p-3 mx-3 sample">
                <div class="d-flex flex-row align-items-center"><i class="bi bi-envelope-fill"></i>
                    <div class="d-flex flex-row align-items-start ml-3"><span>Email : {{user.email}}</span></div>
                </div>
                <div class="d-flex flex-row align-items-center mt-2"><i class="fas fa-angle-right preview"></i></div>
            </div>
            <div class=" align-items-center p-3 mx-3 sample d-flex justify-content-end mt-5 ">
                <div class="d-flex flex-row align-items-center">
                    <button type="button" class="btn btn-success "><i class="bi bi-file-earmark-text-fill"></i> บันทึก</button>
                </div>
                <div class="d-flex flex-row align-items-center mt-2"><i class="fas fa-angle-right preview"></i></div>
            </div>
	</div>
</div>
<style> 
body{
	background: #EAEDF4;
}


.card{
	width: 1000px;
	border: none;
	border-radius: 15px;
}
.media{
	padding: 30px 30px 15px;
}
span.text-muted{
	font-size: 14px;
}
p.pt-1{
	font-size: 13px;
	color: #8686AC;
	cursor: pointer;
}
.fas{
	color: #ABB0B4;
}
.fa-angle-right{
	color: #E6E6E6;
}
span{
	font-size: 16px;
}
.justify-content-between{
    border-radius: 20px;
	height: 70px;
	margin-bottom: 10px;
}
.justify-content-between:hover{
	background-color: #EFF3FF;
	color: #7175B5;
	cursor: pointer;
}
.justify-content-between:hover .fas{
	color: #7175B5;
}
.justify-content-between.sample{
	background-color: #EFF3FF;
	color: #5479F7;
}

</style>

{% endblock %}