{% extends 'cat_hotel/components/base.html' %}
{% block content %}
{% load crispy_forms_tags %}


<div class="container d-flex justify-content-center mt-3 mb-5">
    <div class="card mt-5 pb-3">
        <div class="mt-4 ml-5"><i class="bi bi-person-rolodex h5 mr-1"></i> แก้ไขรายละเอียดข้อมูลส่วนตัว</div>
        <hr width="850">
		<form method="POST" enctype="multipart/form-data">
			{% csrf_token %}
        <div class="media">
            <i class="bi bi-person-circle h3 mr-4 text-primary"></i>
            <div class="media-body">
                {{ form.username|as_crispy_field }}
            </div>
        </div>
        <div class="media">
            <i class="bi bi-patch-check-fill h3 mr-4 text-primary"></i>
            <div class="media-body" style="width: 50%;">
                {{ form.first_name|as_crispy_field }}
            </div>
            <i class="bi bi-patch-check-fill h3 mr-4 text-primary"></i>
            <div class="media-body" style="width: 50%;">
                {{ form.last_name|as_crispy_field }}
            </div>
        </div>
        <div class="media">
            <i class="bi bi-envelope-fill h3 mr-4 text-primary"></i>
            <div class="media-body">
                {{ form.email|as_crispy_field }}
            </div>
        </div>
        <div class="align-items-center p-3 mx-3 sample d-flex justify-content-end ">
            <div class="d-flex flex-row align-items-center">
                <a href="{% url 'profile' %}" class="btn btn-danger mr-3"></i>ยกเลิก</a>
                <button type="submit" class="btn btn-success"></i> บันทึก</button>
            </div>
        </div>
		</form>
    </div>
</div>
<style> 
body{
	background: #EAEDF4;
}


.card{
	width: 850px;
	border: none;
	border-radius: 15px;
}
.media{
	padding: 10px 40px 15px;
}
span.text-muted{
	font-size: 13px;
}
p.pt-1{
	font-size: 13px;
	color: #8686AC;
	cursor: pointer;
}
.fas{
	color: #ABB0B4;
}
.fa-angle-right{
	color: #E6E6E6;
}
span{
	font-size: 16px;
}

</style>

{% endblock %}