{% extends 'cat_hotel_admin/components/base_booking_information.html' %}
{% block booking_information %}

<div class="col-xl-10 col-lg-7 mb-4 ml-3">
  <div class="d-flex justify-content-end mb-3">
    <form class="form-inline" method="GET" action="{% url 'search_confirm_booking_admin' %}">
      <input type="text" class="form-control" name="query" placeholder="Search" value="{{ search_query }}">
      <button type="submit" class="btn btn-primary ml-2">Search</button>
    </form>
  </div>
  <div class="card">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
      <h5 class="m-0 font-weight-bold text-primary">คำขอการจองที่ยืนยัน</h5>
    </div>
    {% if bookings %}
    <div class="table-responsive pd-3">
      <table class="table align-items-center table-flush">
        <thead class="thead-light">
          <tr>
            <th>ID</th>
            <th>Room Number</th>
            <th>Customer</th>
            <th>วันที่เข้าฝาก</th>
            <th>ฝากถึงวันที่</th>
            <th>จำนวนแมว</th>
            <th>ชื่อแมว</th>
            <th>เบอร์ติดต่อ</th>
            <th>ราคา/บาท</th>
            <th>ยืนยัน</th>
            <th>ยกเลิก</th>
          </tr>
        </thead>
        <tbody>
          {% for booking in bookings %}
          <tr>
            <td>{{ booking.id }}</td>
            <td class="text-primary">{{ booking.room }}</td>
            <td>{{ booking.customer }}</td>
            <td>{{ booking.start_date }}</td>
            <td>{{ booking.end_date }}</td>
            <td>{{ booking.cat }}</td>
            <td>{{ booking.cat_name }}</td>
            <td>{{ booking.phone_number }}</td>
            <td>{{ booking.room.price }}</td>
            <td>
                <a href="{% url 'confirm_booking' booking.id  %}" class="btn btn-primary">ยืนยัน</a>
            </td>
            <td><a href="#" class="btn btn-sm btn-danger">ยกเลิก</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% else %}
    <div class="alert alert-warning mt-3" role="alert">
      ไม่มีคำขอการจองที่ยืนยัน
    </div>
    {% endif %}
  </div>
</div>

{% endblock %}
