{% extends 'cat_hotel_admin/components/base.html' %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Customer Page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
    <!-- Content goes here -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>
<div class="container">
  <h1>Customer Information</h1>
  <table class="table table-striped">
      <thead>
          <tr>
              <th>Username</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email</th>
          </tr>
      </thead>
      <tbody>
          {% for customer in customers %}
          <tr>
              <td>{{ customer.username }}</td>
              <td>{{ customer.first_name }}</td>
              <td>{{ customer.last_name }}</td>
              <td>{{ customer.email }}</td>
          </tr>
          {% endfor %}
      </tbody>
  </table>
</div>

{% endblock %}