{% extends 'cat_hotel_admin/components/base.html' %}
{% block content %}


<div id="content">
  <div class="container-fluid" id="container-wrapper">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
    </div>
    <div class="row mb-3">
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card h-100 bg-primary">
          <div class="card-body">
            <div class="row align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-white mb-1"><i class="bi bi-currency-dollar"></i>
                  ยอดรายรับวันนี้</div>
                <div class="h5 mb-0 font-weight-bold text-white"> {{ income_summary.day_income }} บาท</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card h-100 bg-success">
          <div class="card-body">
            <div class="row align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-white mb-1"><i class="bi bi-calendar2"></i> ยอดรายรับเดือนนี้
                </div>
                <div class="h5 mb-0 font-weight-bold text-white">{{ income_summary.month_income }} บาท</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card h-100 bg-warning">
          <div class="card-body">
            <div class="row align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-white mb-1"><i class="bi bi-calendar2-minus"></i>
                  ยอดรายรับปีนี้</div>
                <div class="h5 mb-0 font-weight-bold text-white">{{ income_summary.year_income }} บาท</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card h-100 bg-danger">
          <div class="card-body">
            <div class="row align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-white mb-1"><i class="bi bi-calendar2-minus-fill"></i>
                  รายได้้ทั้งหมด</div>
                <div class="h5 mb-0 font-weight-bold text-white">{{ income_summary.total_income }} บาท</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr width="1350">
<div class='container mt-3'>
  <h5>สรุปรายได้ตามเดือน</h5>
  <div class="d-flex justify-content-end mb-3">
    <form class="form-inline" id="yearForm">
      <input type="text" class="form-control" name="year" id="year" placeholder="ป้อนข้อมูลปี" />
      <button type="submit" class="btn ml-2"><i class="bi bi-search"></i></button>
    </form>
  </div>
  <div class="mt-4 ml-5 text-info">
    {% if total_income %}
      รายได้ในปีปัจจุบันคือ: {{ total_income }} 
    {% else %}
      รายได้ของปี {{ selected_year }} คือ: {{ total_income }} บาท
    {% endif %}
  </div>

  <div class="container">
    <canvas id="myChart"></canvas>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.2.0/js/bootstrap-datepicker.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

  <script>
    $(document).ready(function () {
      $("#year").datepicker({
        format: "yyyy",
        viewMode: "years",
        minViewMode: "years",
        autoclose: true
      });
  
      $('#yearForm').submit(function (e) {
        e.preventDefault();
        var year = $('#year').val();
  
        $.ajax({
          url: '/admin/dashboard/',
          type: 'GET',
          data: { year: year },
          success: function (response) {
            var monthlyIncome = response.monthly_income_data;
            var months = response.months;
            var totalIncome = response.total_income;
            updateChart(monthlyIncome, months);
            displayTotalIncome(totalIncome);
          }
        });
      });
  
      $('#totalIncomeButton').click(function () {
        var year = $('#year').val();
  
        $.ajax({
          url: '/admin/dashboard/',
          type: 'GET',
          data: { year: year },
          success: function (response) {
            var totalIncome = response.total_income;
            displayTotalIncome(totalIncome);
          }
        });
      });
  
      var initialMonthlyIncome = {{ monthly_income_data }};
      var initialMonths = {{ months }};
      var initialTotalIncome = {{ total_income }};
      updateChart(initialMonthlyIncome, initialMonths);
      displayTotalIncome(initialTotalIncome);
    });
  
    function updateChart(monthlyIncome, months) {
      const ctx = document.getElementById('myChart').getContext('2d');
      if (window.myChart) {
        window.myChart.destroy();
      }
      window.myChart = new Chart(ctx, {
        type: 'bar',
        data: {
          labels: months,
          datasets: [{
            label: 'Monthly Income',
            data: monthlyIncome,
            backgroundColor: 'rgba(75, 192, 192, 0.2)',
            borderColor: 'rgba(75, 192, 192, 1)',
            borderWidth: 1
          }]
        },
        options: {
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }
      });
    }
  
    function displayTotalIncome(totalIncome) {
      var selectedYear = $('#year').val();
      var incomeYearElement = $('#incomeYear');
      var incomeValueElement = $('#incomeValue');
      incomeYearElement.text(selectedYear);
      incomeValueElement.text(totalIncome);
    }
  </script>
  </div>

<br/>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const monthlyIncome = {{ monthly_income_data | safe }};
  const months = {{ months | safe }};

  document.addEventListener('DOMContentLoaded', function () {
    const ctx = document.getElementById('myChart').getContext('2d');
    new Chart(ctx, {
      type: 'bar',
      data: {
        labels: months,
        datasets: [{
          label: 'Monthly Income',
          data: monthlyIncome,
          backgroundColor: 'rgba(75, 192, 192, 0.2)',
          borderColor: 'rgba(75, 192, 192, 1)',
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
  });
</script>


<style>
  .container,
  .container-fluid {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }


  .container-fluid {
    margin-left: 52px;
  }

  @-webkit-keyframes growIn {
    0% {
      -webkit-transform: scale(.9);
      transform: scale(.9);
      opacity: 0
    }

    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1
    }
  }

  @keyframes growIn {
    0% {
      -webkit-transform: scale(.9);
      transform: scale(.9);
      opacity: 0
    }

    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1
    }
  }

  .animated--grow-in,
  .sidebar .nav-item .collapse {
    -webkit-animation-name: growIn;
    animation-name: growIn;
    -webkit-animation-duration: .2s;
    animation-duration: .2s;
    -webkit-animation-timing-function: transform cubic-bezier(.18, 1.25, .4, 1), opacity cubic-bezier(0, 1, .4, 1);
    animation-timing-function: transform cubic-bezier(.18, 1.25, .4, 1), opacity cubic-bezier(0, 1, .4, 1)
  }

  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0
    }

    100% {
      opacity: 1
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0
    }

    100% {
      opacity: 1
    }
  }

  .border-left-light {
    border-left: .25rem solid #f8f9fc !important
  }

  .border-bottom-light {
    border-bottom: .25rem solid #f8f9fc !important
  }

  .border-left-dark {
    border-left: .25rem solid #5a5c69 !important
  }

  .border-bottom-dark {
    border-bottom: .25rem solid #5a5c69 !important
  }

  .progress-sm {
    height: .5rem
  }

  .rotate-15 {
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg)
  }
</style>


{% endblock %}