{% extends 'cat_hotel_admin/components/base.html' %}
{% block content %}
{% load crispy_forms_tags %}

<div class="container">
    <div class="card p-4 mt-5 mb-5 ">
        <form method="POST">
            {% csrf_token %}
            <div class="">
                <div class="col-12 mb-4">
                    <h4 class="text-primary">แก้ไขห้องพักแมว</h4>
                </div>
                <div class="col-lg-6 col-md-12 ">
                    <div class="form-floating">
                        <h6>{{form.room_number|as_crispy_field}}</h6>
                    </div>
                </div>
                <br>
                <div class="col-lg-6 col-md-12 ">
                    <div class="form-floating">
                        <h6>{{form.image|as_crispy_field}}</h6>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 ">
                    <div class="form-floating">
                        <h6>{{ form.description|as_crispy_field }}</h6>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 mt-2">
                    <div class="form-floating">
                        <h6>{{form.cat|as_crispy_field}}</h6>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 mt-2">
                    <div class="form-floating">
                        <h6>{{form.price|as_crispy_field}}</h6>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-4 ">
                <button class="btn btn-danger text-uppercase" type="button">ยกเลิก</button>
                <button class="btn btn-warning text-uppercase" type="submit">ยืนยัน<i class="fa fa-plane ms-3"></i></button>
            </div>
        </form>
    </div>
</div>

{% endblock %}