{% extends 'cat_hotel_admin/components/base.html' %}
{% block content %}
{% load crispy_forms_tags %}

<div class="container">
    <div class="card p-4 mt-5  ">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
        <div class="">
            <div class="col-12 mb-4">
                <h4 class="text-primary">เพิ่มห้องพักแมว</h4>
            </div>
            <div class="col-lg-6 col-md-12 ">
                <div class="form-floating">
                    <h6>{{form.room_number|as_crispy_field}}</h6>
                </div>
            </div>
            <br>
            <div class="col-lg-6 col-md-8 ">
                <div class="form-floating">
                    <h6>{{form.image|as_crispy_field}}</h6>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 ">
                <div class="form-floating">
                    <h6>{{ form.description|as_crispy_field }}</h6>            
                </div>
            </div>
            <div class="col-lg-6 col-md-12 mt-2">
                <div class="form-floating">
                    <h6>{{form.cat|as_crispy_field}}</h6>
            </div>
            <div class="col-lg-6 col-md-12 mt-2">
                <div class="form-floating">
                    <h6>{{form.price|as_crispy_field}}</h6>
            </div>
            </div>
            <div class="col-12 mt-4">
                <button class="btn btn-danger text-uppercase" type="button">ยกเลิก</button>
                <button class="btn btn-primary text-uppercase" type="submit">เพิ่มห้องพักแมว<i class="fa fa-plane ms-3"></i></button>
            </div>
            </form>
        </div>
    </div>
</div>
<div class="page-content page-container" id="page-content">
    <div class="padding">     
            <div class="col-lg-12  stretch-card mt-5">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title text-primary">ห้องพักแมวทั้งหมด</h4>           
                        <table class="table table-striped">
                        <tr>
                            <th scope="col">ห้อง</th>
                            <th scope="col">รายละเอียด</th>
                            <th scope="col">ราคา/บาท</th>
                            <th scope="col">แก้ไขห้อง</th>
                            <th scope="col">ลบห้อง</th>
                          </tr>
                        </thead>
                        {% for managed_cat_hotel in managed_cat_hotels %}
                        <tr>
                            <td>{{ managed_cat_hotel.room_number }}</td>
                            <td>{{ managed_cat_hotel.description }}</td>
                            <td>{{ managed_cat_hotel.price }}</td>
                            <td>
                                <a href="{% url 'edit_room' managed_cat_hotel.id %}" class="btn btn-sm btn-warning">แก้ไข</a>
                            </td>
                            <td>
                                <button class="btn btn-sm btn-danger" data-toggle="modal"
                                    data-target="#deleteRoomModal{{ managed_cat_hotel.id }}">ลบ</button>
                            </td>
                        </tr>
                        <div class="modal fade" id="deleteRoomModal{{ managed_cat_hotel.id }}" tabindex="-1" role="dialog"
                            aria-labelledby="deleteRoomModalLabel{{ managed_cat_hotel.id }}" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="deleteRoomModalLabel{{ managed_cat_hotel.id }}">
                                            ลบห้อง {{ managed_cat_hotel.room_number }}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        คุณแน่ใจที่จะลบห้องนี้?
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">ยกเลิก</button>
                                        <form action="{% url 'delete_room' managed_cat_hotel.pk %}" method="post">
                                          {% csrf_token %}
                                          <input type="hidden" name="room_id" value="{{ managed_cat_hotel.pk}}">
                                          <button type="submit" class="btn btn-danger">ลบ</button>
                                        </form>
                                      </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
    </div>
</div>
<style>
    :root{
    --dark-color: #262727;
    --color-fff: #FFFFFF;
    --color-100: #F0F0F0;
    --color-200: #EEEEEE;
    --color-300: #E0E0E0;
    --color-400: #BDBDBD;
    --color-500: #525252;
    --color-600: #464545;
    --color-700: #363535;
    --color-800: #252525;
    --color-900: #181818;
    --color-000: #000000;
    --border-color: #e9e6e1;
    --card-color: #f5f5f5;
    --body-color: #f8f6f2;
    --white-color: #ffffff;
    --sidebar-color: #ffffff;

    --primary-color: #2794eb;
    --secondary-color: #00AC9A;
}

.form-control, .form-select {
    border-color: var(--border-color);
    color: var(--color-900);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 15px;
}

.btn.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.card{
    background-color: var(--card-color);
    border: 0;
}
</style>
{% endblock %}