{% extends 'cat_hotel_admin/components/base.html' %}
{% block content %}
{% load crispy_forms_tags %}

{% for message in messages %}
<div class="container-fluid p-0">
  <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
    {{ message }}
  </div>
</div>
{% endfor %}
<div class="container mb-5 w-100 ">
    <div class="row">
        <div class="col-md-6">
            <div class="card p-4 mt-5">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="">
                        <div class="col-12 mb-4">
                            <h4 class="text-primary">เพิ่มห้องพักแมว</h4>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="form-floating">
                                <h6>{{form.room_number|as_crispy_field}}</h6>
                            </div>
                        </div>
                        <br>
                        <div class="col-lg-6 col-md-8">
                            <div class="form-floating">
                                <h6>{{form.image|as_crispy_field}}</h6>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="form-floating">
                                <h6>{{ form.description|as_crispy_field }}</h6>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 mt-2">
                            <div class="form-floating">
                                <h6>{{form.cat|as_crispy_field}}</h6>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 mt-2">
                            <div class="form-floating">
                                <h6>{{form.price|as_crispy_field}}</h6>
                            </div>
                        </div>
                        <div class="col-12 mt-4">
                            <button class="btn btn-danger text-uppercase" type="button">ยกเลิก</button>
                            <button class="btn btn-primary text-uppercase" type="submit">เพิ่มห้องพักแมว<i
                                    class="fa fa-plane ms-3"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mt-5">
                <div class="card-body">
                    <h4 class="card-title text-primary">ห้องพักแมวทั้งหมด</h4>
                    <table class="table table-striped table-sm">
                        <thead>
                            <tr>
                                <td scope="col" class="w-20">ห้อง</td>
                                <td scope="col" class="w-25">รายละเอียด</td>
                                <td scope="col" class="w-15">จำนวนแมวที่รับได้</td>
                                <td scope="col" class="w-15">ราคา/บาท</td>
                                <td scope="col" class="w-15">แก้ไข</td>
                                <td scope="col" class="w-15">ลบ</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for managed_cat_hotel in managed_cat_hotels %}
                            <style>
                                .small {
                                    text-align: center;
                                }
                            </style>
                            <tr>
                                <td class="small">{{ managed_cat_hotel.room_number }}</td>
                                <td class="small">{{ managed_cat_hotel.description }}</td>
                                <td class="small text-end">{{ managed_cat_hotel.cat }}</td>
                                <td class="small text-end">{{ managed_cat_hotel.price }}</td>
                                <td>
                                    <a href="{% url 'edit_room' managed_cat_hotel.id %}"
                                        class="btn btn-sm btn-warning">แก้ไข</a>
                                </td>
                                <td>
                                    <button class="btn btn-sm btn-danger" data-toggle="modal"
                                        data-target="#deleteRoomModal{{ managed_cat_hotel.id }}">ลบ</button>
                                </td>
                            </tr>
                            <div class="modal fade" id="deleteRoomModal{{ managed_cat_hotel.id }}" tabindex="-1"
                                role="dialog" aria-labelledby="deleteRoomModalLabel{{ managed_cat_hotel.id }}"
                                aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="deleteRoomModalLabel{{ managed_cat_hotel.id }}">
                                                ลบห้อง {{ managed_cat_hotel.room_number }}</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            คุณแน่ใจที่จะลบห้องนี้?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">ยกเลิก</button>
                                            <form action="{% url 'delete_room' managed_cat_hotel.pk %}" method="post">
                                                {% csrf_token %}
                                                <input type="hidden" name="room_id" value="{{ managed_cat_hotel.pk }}">
                                                <button type="submit" class="btn btn-danger">ลบ</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </tbody>
                    </table>
                    

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}