{% extends 'cat_hotel_admin/components/base.html' %}
{% block content %}
{% load crispy_forms_tags %}

<div class="container">
    <div class="card p-4 mt-5 mb-5">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="">
                <div class="col-12 mb-4">
                    <h4 class="text-primary">แก้ไขหน้าเว็บ</h4>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="form-floating">
                        {{ form.title|as_crispy_field }}
                    </div>
                </div>
                <br>
                <div class="col-lg-6 col-md-12">
                    <div class="form-floating">
                        {{ form.image1|as_crispy_field }}
                        {{ form.image2|as_crispy_field }}
                        {{ form.image3|as_crispy_field }}
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="form-floating">
                        {{ form.description1|as_crispy_field }}
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="form-floating">
                        {{ form.image4|as_crispy_field }}
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="form-floating">
                        {{ form.description2|as_crispy_field }}
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 mt-2">
                    <div class="form-floating">
                        {{ form.about_us|as_crispy_field }}
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 mt-2">
                    <div class="form-floating">
                        {{ form.location|as_crispy_field }}
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 mt-2">
                    <div class="form-floating">
                        {{ form.contact|as_crispy_field }}
                    </div>
                </div>
            </div>
            <div class="col-12 mt-4">
                <button class="btn btn-danger text-uppercase" type="button">ยกเลิก</button>
                <button class="btn btn-warning text-uppercase" type="submit">ยืนยัน<i
                        class="fa fa-plane ms-3"></i></button>
            </div>
        </form>
    </div>
</div>


</style>
{% endblock %}